
   <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
   <md-card class="mainCard" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Image</span>
            <span class="md-subhead">Title</span>
            <span class="md-subhead">Description</span>

            <md-button class="btn1"> Pin </md-button>
<!-- <link rel="stylesheet" type="text/css" href="/partials/card.css"> -->
<h1>Cards Structure</h1>

          <div layout="row" layout-align="center center">
            <md-button class="btn1"> <md-icon md-font-set="md">favorite</md-icon></md-button>
            <md-button class="btn2"> <md-icon md-font-set="md">delete</md-icon></md-button>
            </div>
        </md-card-title-text>
      </md-card-title>

