

<h3 class="left">Hello Dwight</h3>

  <md-card class="cardThemeColor">
    <!-- <span class="md-headline">{{name}}</span> -->
      <span class="md-subheadDescription">Bears, Beets, Battlestar Galactica.</span>
  <md-card-title>
    <md-card-title-media>
      <div layout-xs="column" class="md-media-sm card-media">
        <div layout="row" layout-align="start center">
            <md-icon>
                <img class="png-icon" src="http://www.bumperstickerz.com/images/10000238-00-04-00-00_lg.png"
                style="width: 8em; height: 5em;">
            </md-icon>
        </div>
      </div>
    </md-card-title-media>
    
    <md-card-title-text>

        <!-- <form ng-submit="newPin()"> -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons"></i>
                </label>
                <div layout="row" layout-align="end">
                    <div class="mdl-textfield__expandable-holder" layout-align>
                        <md-input-container layout-flex>
                        <label>Search My Pins</label>
                        <input type="text" ng-model="pinSearch" class="search">
                        <label class="mdl-textfield__label" for="sample-expandable"></label>
                        <md-button type="submit" ng-click="pinSearch" class="btn1" value=""> Search </md-button>
                        </md-input-container>
                    </div>
                </div>
              </div>
        <!-- </form> -->
    </md-card-title-text>
  </md-card-title>
</md-card>


<section layout="row" layout-align="center center">
    <md-button class="groupX left md-raised" ng-href="#/pinBoard">Manage Pinterests</md-button>
    <md-button class="md-raised" ng-href="https://www.buzzfeed.com/rachelwmiller/all-we-do-is-pin?utm_term=.wuZapM9qg#.gvJOPZMgD" class="groupX right">Get A Life</md-button>
</section>

  <div layout="row" layout-wrap>
    <md-card ng-repeat="inn in topics">
        <md-card-title>
            {{inn.title}}
        </md-card-title>
        <img class="images" src="{{inn.url}}" class="mainCard">

          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Title</span>
            <span class="md-subhead">Description</span>

        <div layout="row" layout-align="center center">
            <md-button class="btn1"> <md-icon md-font-set="md">favorite</md-icon></md-button>
            <md-button ng-click="newPin()" class="btn2"><md-icon md-font-set="md">delete</md-icon></md-button>
        </div>
          </md-card-title-text>
    </md-card>
</div>
