md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #18FFFF;
}


.reg1 {
    color: red;
    background-color: red;
}

.log1 {
    color:#2196F3;
    background-color: white;
}
