
<br>

<div class="pin" ng-controller="BoardCtrl" layout="column" ng-cloak class="md-inline-form">

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Title</label>
        <input ng-model="user.title">
      </md-input-container>
    </div>
  </md-content>

  <md-content layout-padding>
    <div>
      <form name="userForm">

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>User ID</label>
            <input ng-model="user.company">
          </md-input-container>

   <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>url</label>
            <input ng-model="user.firstName">
          </md-input-container>


  </div>
  <md-button>Pin it</md-button>
    </form>
    </div>
  </md-content>

<h1>Pin Board</h1>


