
body {
  background: lightgrey;
}

.btn1 {
  background-color: white;
  width: 20%;
  display: inline;
}

.btn2 {
  background-color: white;
  width: 20%;
  display: right
}

.mainCard {
  max-width: 50%;
  display: inline-block;
}

card > img {
	max-width: auto;
}

.images {
  max-width: 250px;
}

/*nav bar highlight color*/
.md-accent{
  /*padding: 50px;
  margin: 20px;*/
  color: #455A64 !important; 
}
md-nav-bar md-nav-ink-bar{
  color:  #18FFFF;
  background-color: #18FFFF;
}